{% extends 'list_generic.html' %}

{% block titulo %}
{{titulo}}
{% endblock titulo %}

{% block subtitulo %}
{{subtitulo}}
{% endblock subtitulo%}

{% block columns %}
    <th><i class="fas fa-hashtag me-2"></i>ID</th>
    <th><i class="fas fa-book me-2"></i>Tipo</th>
    <th><i class="fas fa-clock me-2"></i>Fecha</th>
    <th class="text-center"><i class="fas fa-tools me-2"></i>Acciones</th>
{% endblock columns %}
{% block exportar %}
        <a href="{% url 'app:reporte_movimiento_pdf' %}" class="btn-pdf">
            <i class="fas fa-file-pdf me-1"></i>
        Descargar PDF
        </a>
        <a href="{% url 'app:reporte_movimiento_excel' %}" class="btn-excel">
            <i class="fas fa-file-excel me-1"></i>
        Descargar Excel
        </a>
{% endblock exportar %}


{% block rows %}
    {% for movimiento in object_list %}
    <tr>
        <td>{{ movimiento.id }}</td>
        <td>{{ movimiento.tipo }}</td>
        <td>{{ movimiento.fecha }}</td>
        <td class="text-center">
            <a href="{% url 'app:editar_movimiento' movimiento.id %}" class="btn btn-sm me-1" style="background-color: #3054f7; color: #ffffff; border-radius: 8px;">
                            <i class="fa-solid fa-pen-to-square"></i>
            </a>
            <a href="{% url 'app:eliminar_movimiento' movimiento.id %}" class="btn btn-sm" style="background-color: #ff4d4d; color: white; border-radius: 8px;">
                            <i class="fa-solid fa-trash"></i>
            </a>
        </td>
    </tr>
    {% endfor %}
{% endblock rows %}