{% extends 'list_generic.html' %}

{% block titulo %}
{{titulo}}
{% endblock titulo %}

{% block subtitulo %}
{{subtitulo}}
{% endblock subtitulo%}

{% block columns %}
    <th><i class="fas fa-hashtag me-2"></i>ID</th>
    <th><i class="fas fa-book me-2"></i>Nombre del Estudiante</th>
    <th><i class="fas fa-clock me-2"></i>Fecha</th>
    <th><i class="fas fa-clock me-2"></i>Observaciones</th>
    <th class="text-center"><i class="fas fa-tools me-2"></i>Acciones</th>
{% endblock columns %}
    {% block exportar %}
      <a href="{% url 'app:reporte_asistencia_pdf' %}" class="btn-pdf">
        <i class="fas fa-file-pdf me-1"></i>
          Descargar PDF
      </a>
      <a href="{% url 'app:Camara' %}" class="btn-pdf">
        <i class="fas fa-file-camera me-1"></i>
          Camara
      </a>
      <a href="{% url 'app:reporte_asistencia_excel' %}" class="btn-excel">
        <i class="fas fa-file-excel me-1"></i>
          Descargar Excel
      </a>
    {% endblock %}
{% block rows %}
    {% for asistencia in object_list %}
    <tr>
        <td>{{ asistencia.id }}</td>
        <td>{{ asistencia.estudianteid}}
        <td>{{ asistencia.fecha }}</td>
        <td>{{ asistencia.observaciones }}</td>
        <td class="text-center">
            <a href="{% url 'app:editar_asistencia' asistencia.id %}" class="btn btn-sm me-1" style="background-color: #3054f7; color: #ffffff; border-radius: 8px;">
                            <i class="fa-solid fa-pen-to-square"></i>
            </a>
            <a href="{% url 'app:eliminar_asistencia' asistencia.id %}" class="btn btn-sm" style="background-color: #ff4d4d; color: white; border-radius: 8px;">
                            <i class="fa-solid fa-trash"></i>
            </a>
        </td>
    </tr>
    {% endfor %}
{% endblock rows %}
