{% extends 'home.html' %}
{% load static %}
{% block body %}
  <body class="layout-blur">
    <!-- Botón hamburguesa (fuera de la sidebar para que siempre sea visible) -->
    <button class="hamburger" id="hamburger"><i class="fa-solid fa-bars"></i></button>

    <!-- Sidebar -->
    {% include 'sidebar.html' %}

    <div class="main-content">
      {% include 'header.html' %}
      {% block main %}
        {% include 'main.html' %}
      {% endblock %}
      <div class="modal fade" id="modalGeneral" tabindex="-1" aria-hidden="true">
        <div id="contenedorModal"></div>
      </div>
      <div id="contenedorMensajes" class="position-fixed top-0 end-0 p-3" style="z-index: 9999;"></div>
    </div>
    <script src="{% static 'Js/modal.js' %}"></script>

    <!-- jQuery -->
    <script src="{% static 'lib/jquery/jquery-3.6.0.min.js' %}"></script>

    <!-- DataTables -->
    <link rel="stylesheet" href="{% static 'css/jquery.dataTables.min.css' %}" />
    <script src="{% static 'Js/jquery.dataTables.min.js' %}"></script>

    <!-- Bootstrap -->
    <script src="{% static 'lib/bootstrap-4.4.1-dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'lib/bootstrap-4.4.1-dist/js/bootstrap.min.js' %}"></script>

    <!-- AdminLTE -->
    <script src="{% static 'lib/adminlte-3.0.4/js/adminlte.min.js' %}"></script>

    <!-- SweetAlert -->
    <script src="{% static 'lib/sweetalert2/sweetalert2.all.min.js' %}"></script>
    <!--Qr code-->

    <script>
      const hamburger = document.getElementById('hamburger')
      const sidebar = document.getElementById('sidebar')
      
      hamburger.addEventListener('click', () => {
        sidebar.classList.toggle('open')
        hamburger.classList.toggle('active')
      })
    </script>
    {% if messages %}
      <script>
        document.addEventListener('DOMContentLoaded', function () {
          {% for message in messages %}
          {% if 'login' in message.tags %}
            Swal.fire({
              toast: true,
              position: "top-end",
              title: "{{ message }}",
              icon: "success",
              showConfirmButton: false,
              timer: 2000,
              timerProgressBar: true
            });
          {% else %}
            Swal.fire({
              title: "{{ message }}",
              icon: "{{ message.tags }}",
              showConfirmButton: false,
              timer: 2000,
              timerProgressBar: true
            });
            {% endif %}
          {% endfor %}
        });
      </script>
    {% endif %}

    {% include 'footer.html' %}
    {% block js %}

    {% endblock %}
  </body>
{% endblock %}
